.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.filters button {
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filters button:hover {
    background-color: #0056b3;
}
.pokemon-list {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    background: aqua;
    border-radius: 8px;
}
